<template>
    <div>
        <form id="user-form" role="form" class="form-horizontal kv-form-horizontal">
            <div class="form-group" :class="{'has-error': !formErrors['user-username'].valid}">
                <label class="col-sm-2 control-label" for="user-username">ชื่อผู้ใช้</label>
                <div class="col-sm-4">
                    <div class="form-group highlight-addon field-user-username required">
                        <div class="col-md-12">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-user"></i>
                                </span>
                                <input
                                        type="text"
                                        id="user-username"
                                        class="form-control"
                                        name="User[username]"
                                        placeholder="ชื่อผู้ใช้" aria-required="true">
                            </div>
                            <div class="help-block" v-if="!formErrors['user-username'].valid">
                                {{ formErrors['user-username'].message }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group" :class="{'has-error': !formErrors['user-email'].valid}">
                <label class="col-sm-2 control-label" for="user-email">อีเมล์</label>
                <div class="col-sm-4">
                    <div class="form-group highlight-addon field-user-email required">
                        <div class="col-md-12">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-envelope-open"></i>
                                </span>
                                <input
                                        type="email"
                                        id="user-email"
                                        class="form-control"
                                        name="User[email]"
                                        placeholder="อีเมล์"
                                        aria-required="true">
                            </div>
                            <div class="help-block" v-if="!formErrors['user-email'].valid">
                                {{ formErrors['user-email'].message }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group" :class="{'has-error': !formErrors['user-password'].valid}">
                <label class="col-sm-2 control-label" for="user-password">รหัสผ่าน</label>
                <div class="col-sm-4">
                    <div class="form-group highlight-addon field-user-password">
                        <div class="col-md-12">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-key"></i>
                                </span>
                                <input
                                        type="password"
                                        id="user-password"
                                        class="form-control"
                                        name="User[password]"
                                        placeholder="รหัสผ่าน"></div>

                            <div class="help-block" v-if="!formErrors['user-password'].valid">
                                {{ formErrors['user-password'].message }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group" :class="{'has-error': !formErrors['user-password'].valid}">
                <label class="col-sm-2 control-label" for="user-role">บทบาท</label>
                <div class="col-sm-4">
                    <div class="form-group highlight-addon field-user-role required">

                        <div class="col-md-12">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-user"></i>
                                </span>
                                <select id="user-role" class="form-control" name="User[role]" aria-required="true">
                                    <option value="">เลือกบทบาท</option>
                                    <option value="10">User</option>
                                    <option value="20">Admin</option>
                                </select>
                            </div>
                            <div class="help-block" v-if="!formErrors['user-role'].valid">
                                {{ formErrors['user-role'].message }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <router-link class="btn btn-danger" to="/user/admin/index"><i class="fa fa-times-circle"></i> กลับ
                    </router-link>
                    <button type="button" class="btn btn-success" v-on:click="onSubmit"><i class="fa fa-save"></i>
                        บันทึก
                    </button>
                </div>
            </div>

        </form>
    </div>
</template>

<script>
    import axios from 'axios';
    import Swal from 'sweetalert2';
    import * as $ from 'jquery';
    import '../../../vendor/kartik-v/yii2-widget-activeform/src/assets/css/activeform.css';

    export default {
        data: () => {
            return {
                rawHtml: null,
                formErrors: null
            };
        },
        created: function () {
            this.resetFormErrors();
            this.fetchForm();
        },
        methods: {
            fetchForm: function () {
                axios.get('/user/admin/create')
                    .then(response => {
                        this.rawHtml = response.data;
                    })
                    .catch(error => {
                        Swal.fire({
                            title: error.response.statusText,
                            text: error.response.data,
                            type: 'error',
                        });
                    });
            },
            onSubmit: function () {
                var $form = $('#user-form');
                var formArray = $form.serializeArray();
                var returnArray = {};
                for (var i = 0; i < formArray.length; i++) {
                    returnArray[formArray[i]['name']] = formArray[i]['value'];
                }
                this.resetFormErrors();
                axios.post('/user/admin/create', $form.serialize())
                    .then(response => {

                    })
                    .catch(error => {
                        if (error.response.status === 422) {
                            var errorFields = error.response.data;
                            for (let key in errorFields) {
                                // skip loop if the property is from prototype
                                if (!errorFields.hasOwnProperty(key)) {
                                    continue;
                                }

                                this.formErrors[key].valid = false;
                                this.formErrors[key].message = errorFields[key][0];
                            }
                        } else {
                            Swal.fire({
                                title: error.response.statusText,
                                text: error.response.data,
                                type: 'error',
                            });
                        }
                    });
            },
            resetFormErrors: function () {
                this.formErrors = {
                    'user-username': {valid: true, message: ''},
                    'user-email': {valid: true, message: ''},
                    'user-password': {valid: true, message: ''},
                    'user-role': {valid: true, message: ''},
                };
            }
        }
    }
</script>