<template>
    <p>{{ message }}</p>
</template>

<script>
    export default {
        data: () => {
            return {
                message: 'Hello Word'
            };
        },
        created: function () {
            document.title = this.$route.name;
        },
    }
</script>