<template>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-users"></i> ผู้ใช้งาน</h3>
                </div>
                <div class="panel-body">
                    <p>
                        <button v-on:click="onCreate" title="เพิ่มผู้ใช้งาน" data-pjax="0" class="btn btn-success">เพิ่มผู้ใช้งาน</button>
                    </p>
                    <div v-if="loading" class="loader">Loading...</div>
                    <table v-if="!loading"
                           id="tb-user"
                           class="kv-grid-table table table-hover table-bordered table-striped table-condensed kv-table-wrap"
                           style="width: 100%;">
                        <thead>

                        <tr role="row">
                            <th class="kv-align-center kv-align-middle">#</th>
                            <th>ชื่อผู้ใช้</th>
                            <th>อีเมล</th>
                            <th class="kv-align-center">สถานะ</th>
                            <th class="kv-align-center">บทบาท</th>
                            <th class="kv-align-center kv-nowrap kv-align-middle">ดำเนินการ</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(user, index) in users">
                            <td class="kv-align-center kv-align-middle">
                                {{ index + 1 }}
                            </td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td class="kv-align-center">
                                {{ user.status === 10 ? 'Active' : 'DeActive' }}
                            </td>
                            <td class="kv-align-center">
                                {{ user.role === 10 ? 'User' : 'Admin' }}
                            </td>
                            <td class="skip-export kv-align-center kv-nowrap kv-align-middle">
                                <div class="btn-group" role="group">
                                    <button
                                        type="button"
                                        class="btn btn-default"
                                        title="ปรับปรุง"
                                        v-on:click="onUpdate(user._id)">
                                        <span class="glyphicon glyphicon-pencil text-info"></span>
                                    </button>
                                    <button
                                        type="button"
                                        class="btn btn-default"
                                        title="ลบ"
                                        v-on:click="onDelete(user._id)">
                                        <span class="glyphicon glyphicon-trash text-danger"></span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import * as $ from 'jquery';
    import Swal from 'sweetalert2';
    import 'datatables.net-bs/css/dataTables.bootstrap.min.css';
    import 'datatables.net';
    import 'datatables.net-bs';

    export default {
        data: () => {
            return {
                users: [],
                loading: false
            };
        },
        beforeCreate: function () {
            $('.splash').show();
        },
        created: function () {
            document.title = this.$route.name;
            this.fetchUsers();
        },
        methods: {
            fetchUsers: function () {
                this.loading = true;
                axios
                    .get('/api/v1/user/index')
                    .then(response => {
                        this.users = response.data;
                        setTimeout(() => {
                            $('#tb-user').DataTable({
                                autoWidth: false,
                                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
                                language: {
                                    "sSearch": "_INPUT_",
                                    "url": "/i18n/Thai.json",
                                }
                            });
                        }, 100);
                        setTimeout(() => {
                            $('.splash').hide();
                        }, 300);
                        this.loading = false;
                    })
                    .catch(error => {
                        $('.splash').hide();
                        this.loading = false;
                        Swal.fire({
                            title: error.response.statusText,
                            text: error.response.data,
                            type: 'error',
                        });
                    });
            },
            onCreate: function() {
                this.$router.push('/user/admin/create');
            },
            onUpdate: function (Id) {
                this.$router.push('/user/admin/update?id=' + Id);
            },
            onDelete: function (Id) {
                Swal.fire({
                    title: 'คุณแน่ใจหรือไม่ที่จะลบรายการนี้?',
                    text: "",
                    type: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'ยืนยัน',
                    cancelButtonText: 'ยกเลิก',
                    showLoaderOnConfirm: true,
                    preConfirm: function () {
                        return new Promise(function (resolve) {
                            axios.post('/user/admin/delete?id=' + Id)
                                .then(response => {
                                    this.fetchUsers();
                                }).catch(error => {
                                Swal.fire({
                                    title: error.response.statusText,
                                    text: error.response.data,
                                    type: 'error',
                                });
                            });
                        })
                    }
                }).then((result) => {
                    if (result.value) {
                        Swal.fire('ลบรายการสำเร็จ!', '', 'success')
                    }
                })
            }
        }
    }
</script>
